@import url(http://fonts.googleapis.com/css?family=ABeeZee);

body{
	font-family: 'ABeeZee', sans-serif;
	font-size: 14pt;
}

input{
    margin-bottom: 5px;
    line-height: 18px;
    padding: 2px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #CCC;
    font-family: 'ABeeZee', sans-serif;
    width: 320px;
    outline: none;
}

form{
    margin: 0 auto;
    width:320px;
}

div{
    position:absolute;
    top:50%;
    right:0;
    left:0;
}
